html, body {
     height: 100%; margin: 0; padding: 0
}

h1{
    position: relative;
    text-align: center;
    margin-top: 200px;
    color:black;
    border-left: 4px solid #ccc; 
    padding-left: 1em;
    font-family: 'inter', sans-serif;
    font-weight: 700;
}
h2{
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: rgb(40, 41, 41);
    font-family: 'inter', sans-serif;
    font-weight: 500;

}
img {
    top: 50%;
    left: 35%;
    position: absolute;
    float: right;
    margin: 10px;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 55%;
}